include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/vixactivity *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/vixactivity/migration *.ini *.py *.mako
